*{
    margin:0;
    padding:0;
    
}
body{
    background-color: rgba(240, 240, 240, 0.979);
}
main{
    display: grid;
    place-items: center;
    min-height:100vh;
    grid-template-areas:
    'a a b '
    'c d d '
    'c d d ' ;
    gap: 8px;
    width:50%;
    margin: auto;

}
main div{
    padding: 2em;
    text-align: center;
    border-radius: 10px;
    
}
.box-a{
    background-color: royalblue;
    grid-area: a;
}
.box-b{
    background-color: rgb(221, 84, 4);
    grid-area: b;
}
.box-c{
    background-color: rgb(66, 0, 41);
    grid-area: c;
}
.box-d{
    background-color: rgb(217, 221, 0);
    grid-area: d;
}
.box-e{
    background-color: rgb(255, 0, 234);
    grid-area: e;
}
